## PANDAS CASE STUDY: FIFA WORLD CUP DATASET &#9917; &#127942;

In [245]:
# firstly will be isntalling my libraries
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /Users/henrywilliams/anaconda3/lib/python3.11/site-packages (1.24.3)

In [246]:
# next, would be importing my necessary libraries which had already been installed

import pandas as pd
import numpy as np

In [247]:
# lOAD DATASET

world_cup_df = pd.read_csv('Dataset/world_cup_matches .csv')

world_cup_df

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False
...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False

In [248]:
# making a copy of my dataset csv file so i dont tamper with the original file when extracting and transforming should in case i need to go back to it

df = world_cup_df.copy()

## Exploration

In [249]:
df.head()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False

In [250]:
df.tail()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False

In [251]:
# How many rows and columns are in the dataset?

df.shape

(900, 10)

In [252]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              900 non-null    int64
 1   Year            900 non-null    int64
 2   Date            900 non-null    object
 3   Stage           900 non-null    object
 4   Home Team       900 non-null    object
 5   Home Goals      900 non-null    int64
 6   Away Goals      900 non-null    int64
 7   Away Team       900 non-null    object
 8   Win Conditions  62 non-null     object
 9   Host Team       900 non-null    bool
dtypes: bool(1), int64(4), object(5)
memory usage: 64.3+ KB

In [253]:
# Are there missing values in the data set? 

df.info()

# based on the result below we have missing values in the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              900 non-null    int64
 1   Year            900 non-null    int64
 2   Date            900 non-null    object
 3   Stage           900 non-null    object
 4   Home Team       900 non-null    object
 5   Home Goals      900 non-null    int64
 6   Away Goals      900 non-null    int64
 7   Away Team       900 non-null    object
 8   Win Conditions  62 non-null     object
 9   Host Team       900 non-null    bool
dtypes: bool(1), int64(4), object(5)
memory usage: 64.3+ KB

In [254]:
df.isnull(). sum() #Â confirming how the null values

ID                  0
Year                0
Date                0
Stage               0
Home Team           0
Home Goals          0
Away Goals          0
Away Team           0
Win Conditions    838
Host Team           0
dtype: int64

In [255]:
# Checking for duplicates

# based on the result below, we have no duplicates in the dataset

df.duplicated(). sum()

0

In [256]:
####Â check datatypes

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              900 non-null    int64
 1   Year            900 non-null    int64
 2   Date            900 non-null    object
 3   Stage           900 non-null    object
 4   Home Team       900 non-null    object
 5   Home Goals      900 non-null    int64
 6   Away Goals      900 non-null    int64
 7   Away Team       900 non-null    object
 8   Win Conditions  62 non-null     object
 9   Host Team       900 non-null    bool
dtypes: bool(1), int64(4), object(5)
memory usage: 64.3+ KB

In [257]:
# check for outliers (we are basically checking for values that do not follow the pattern of the dataset)

df.describe()

               ID         Year  Home Goals  Away Goals
count  900.000000   900.000000  900.000000  900.000000
mean   450.500000  1986.915556    1.792222    1.038889
std    259.951919    23.150270    1.593279    1.081567
min      1.000000  1930.000000    0.000000    0.000000
25%    225.750000  1970.000000    1.000000    0.000000
50%    450.500000  1990.000000    2.000000    1.000000
75%    675.250000  2006.000000    3.000000    2.000000
max    900.000000  2018.000000   10.000000    7.000000

In [258]:
# What is the earliest tournament year recorded in the dataset
df['Year'].min() # earliest year is 1930 and latest year is 2018

1930

In [259]:
# What is the latest tournament year recorded in the dataset

df['Year'].max() # latest year is 2018

2018

## Issues observed while carrying out my exploration...

###### 1. win conditions has null values
###### 2. Date column has a wrong datatype
###### 3. outliers in home and away goals (we want to identify this outliers, to know if its an error or its actual so we do not include what isnt true in our data hence giving inappropriate insight for decision making)

## Data Cleaning

In [260]:
df.head()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False

In [261]:
# Convert the date column to datetime datatype.

df['Year'] = pd.to_datetime(df['Date'])

In [262]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              900 non-null    int64
 1   Year            900 non-null    datetime64[ns]
 2   Date            900 non-null    object
 3   Stage           900 non-null    object
 4   Home Team       900 non-null    object
 5   Home Goals      900 non-null    int64
 6   Away Goals      900 non-null    int64
 7   Away Team       900 non-null    object
 8   Win Conditions  62 non-null     object
 9   Host Team       900 non-null    bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(5)
memory usage: 64.3+ KB

In [263]:
df['ID'].astype('float')

0        1.0
1        2.0
2        3.0
3        4.0
4        5.0
       ...
895    896.0
896    897.0
897    898.0
898    899.0
899    900.0
Name: ID, Length: 900, dtype: float64

In [264]:
# Standardize the column names.

## change column names

df.columns

Index(['ID', 'Year', 'Date', 'Stage', 'Home Team', 'Home Goals', 'Away Goals',
       'Away Team', 'Win Conditions', 'Host Team'],
      dtype='object')

In [265]:
df.columns = df.columns.str.lower() # changing the column name to lower case

In [266]:
new_columns = df.columns.str.replace(" ", "_")

In [267]:
df.columns = new_columns

df.columns

Index(['id', 'year', 'date', 'stage', 'home_team', 'home_goals', 'away_goals',
       'away_team', 'win_conditions', 'host_team'],
      dtype='object')

In [268]:
df.head()

,id,year,date,stage,home_team,home_goals,away_goals,away_team,win_conditions,host_team
0,1,1930-07-13,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930-07-13,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930-07-14,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930-07-14,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930-07-15,1930-07-15,Group stage,Argentina,1,0,France,NaN,False

In [269]:
# missing values

# Handle missing values appropriately, if they exist. Justify your chosen method for handling the missing values.

df.isnull().sum()

id                  0
year                0
date                0
stage               0
home_team           0
home_goals          0
away_goals          0
away_team           0
win_conditions    838
host_team           0
dtype: int64

# Handling missing values

#### we can handle missing values by 
#### 1. drop the missing values: its the easiest but not always teh most convinient as you might possibly be dropping other datas if they are more than the total number of rows you have in the dataset
#### 2. imputation: replacing the missing values with something, we have 2 ways of imputation
####    - simple imputation: here we are saying where there is a null fill it with ***, here we are determining the input if there are no values in it
####    - statistical imputation: here we basically use a statistical apporach to filling in the missing value such as mean or mode of the data.
####    -  advanced imputation : talking about building models that could generate an accurate data that fits the place of that missing data
####    -  back fill and forward fill: is essentially saying replace the missing value with the last known  value or the next known value

### note -
#### there is no standard way of handling missing values, its always a discussion with stakeholders to know what is best to serve for the dataset

In [270]:
df['win_conditions']

0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
                     ...
895    Croatia win on penalties (3 - 4)
896                                 NaN
897                          Extra time
898                                 NaN
899                                 NaN
Name: win_conditions, Length: 900, dtype: object

In [271]:
df['win_conditions'] = df['win_conditions'].fillna("Normal TIme") # called it normal time because i observed that the non missing values are those matches that exceeded the match 90minute normal time , meaning they went into either extra time or penalities, while the normal times were not accounted for

df['win_conditions']

0                           Normal TIme
1                           Normal TIme
2                           Normal TIme
3                           Normal TIme
4                           Normal TIme
                     ...
895    Croatia win on penalties (3 - 4)
896                         Normal TIme
897                          Extra time
898                         Normal TIme
899                         Normal TIme
Name: win_conditions, Length: 900, dtype: object

In [272]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              900 non-null    int64
 1   year            900 non-null    datetime64[ns]
 2   date            900 non-null    object
 3   stage           900 non-null    object
 4   home_team       900 non-null    object
 5   home_goals      900 non-null    int64
 6   away_goals      900 non-null    int64
 7   away_team       900 non-null    object
 8   win_conditions  900 non-null    object
 9   host_team       900 non-null    bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(5)
memory usage: 64.3+ KB

## Data Transformation

In [273]:
df2 = world_cup_df.copy()

In [274]:
df2

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False
...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False

In [275]:
# add a new column
# Create a new column named 'Total Goals' that contains the sum of home and away goals scored in each match.

df2['Total Goals'] =df2['Home Goals'] + df2['Away Goals']

df2

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False,5
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False,3
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False,3
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False,4
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False,1
...,...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True,4
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False,1
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False,3
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False,2
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False,6

In [276]:
# add conditional column
# Create a conditional column â€˜Score Categoryâ€™ that contains over â€˜High Scoringâ€™ for matches with more than 2 goals and â€˜Low Scoringâ€™ otherwise

df2['Score Category'] = np.where(df2['Total Goals'] > 2, 'High Scoring', 'Low Scoring')

df2

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False,5,High Scoring
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False,3,High Scoring
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False,3,High Scoring
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False,4,High Scoring
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False,1,Low Scoring
...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True,4,High Scoring
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False,1,Low Scoring
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False,3,High Scoring
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False,2,Low Scoring
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False,6,High Scoring

In [277]:
## method 2: using a custom or lambda function
def check_score_category(x):
    if x > 2:
        return 'High Scoring'
    else:
        return 'Low Scoring'

In [278]:
## using custom function
df2['Score Category2'] = df2['Total Goals'].apply(check_score_category)
df2

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category,Score Category2
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False,5,High Scoring,High Scoring
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False,3,High Scoring,High Scoring
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False,3,High Scoring,High Scoring
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False,4,High Scoring,High Scoring
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False,1,Low Scoring,Low Scoring
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True,4,High Scoring,High Scoring
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False,1,Low Scoring,Low Scoring
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False,3,High Scoring,High Scoring
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False,2,Low Scoring,Low Scoring
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False,6,High Scoring,High Scoring

In [279]:
#using lambda function
df2['Score_Category3'] = df2['Total Goals'].apply(lambda x: 'High Scoring' if x > 2 else 'Low Scoring')

df2

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category,Score Category2,Score_Category3
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False,5,High Scoring,High Scoring,High Scoring
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False,3,High Scoring,High Scoring,High Scoring
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False,3,High Scoring,High Scoring,High Scoring
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False,4,High Scoring,High Scoring,High Scoring
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True,4,High Scoring,High Scoring,High Scoring
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False,3,High Scoring,High Scoring,High Scoring
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False,2,Low Scoring,Low Scoring,Low Scoring
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False,6,High Scoring,High Scoring,High Scoring

In [280]:
# Filtering dataframes

# Create a new dataset that holds only the group stage matches

condition = df2['Stage'] == 'Group stage' # in the dataset, i want to filter and see where the stage is group stage

df2[condition]

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category,Score Category2,Score_Category3
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False,5,High Scoring,High Scoring,High Scoring
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False,3,High Scoring,High Scoring,High Scoring
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False,3,High Scoring,High Scoring,High Scoring
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False,4,High Scoring,High Scoring,High Scoring
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,880,2018,2018-06-27,Group stage,Switzerland,2,2,Costa Rica,NaN,False,4,High Scoring,High Scoring,High Scoring
880,881,2018,2018-06-28,Group stage,Japan,0,1,Poland,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
881,882,2018,2018-06-28,Group stage,Senegal,0,1,Colombia,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
882,883,2018,2018-06-28,Group stage,Panama,1,2,Tunisia,NaN,False,3,High Scoring,High Scoring,High Scoring
883,884,2018,2018-06-28,Group stage,England,0,1,Belgium,NaN,False,1,Low Scoring,Low Scoring,Low Scoring

In [281]:
# in a case wher we would like to filter using more than one cell

## filtering with multiple conditions
condition1 = df2['Stage'] == 'Group stage'
condition2 = df2['Year'] == 1930

df2[condition1 & condition2]

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category,Score Category2,Score_Category3
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False,5,High Scoring,High Scoring,High Scoring
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False,3,High Scoring,High Scoring,High Scoring
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False,3,High Scoring,High Scoring,High Scoring
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False,4,High Scoring,High Scoring,High Scoring
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
5,6,1930,1930-07-16,Group stage,Chile,3,0,Mexico,NaN,False,3,High Scoring,High Scoring,High Scoring
6,7,1930,1930-07-17,Group stage,Yugoslavia,4,0,Bolivia,NaN,False,4,High Scoring,High Scoring,High Scoring
7,8,1930,1930-07-17,Group stage,United States,3,0,Paraguay,NaN,False,3,High Scoring,High Scoring,High Scoring
8,9,1930,1930-07-18,Group stage,Uruguay,1,0,Peru,NaN,True,1,Low Scoring,Low Scoring,Low Scoring
9,10,1930,1930-07-19,Group stage,Chile,1,0,France,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
10,11,1930,1930-07-19,Group stage,Argentina,6,3,Mexico,NaN,False,9,High Scoring,High Scoring,High Scoring
11,12,1930,1930-07-20,Group stage,Brazil,4,0,Bolivia,NaN,False,4,High Scoring,High Scoring,High Scoring
12,13,1930,1930-07-20,Group stage,Paraguay,1,0,Belgium,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
13,14,1930,1930-07-21,Group stage,Uruguay,4,0,Romania,NaN,True,4,High Scoring,High Scoring,High Scoring
14,15,1930,1930-07-22,Group stage,Argentina,3,1,Chile,NaN,False,4,High Scoring,High Scoring,High Scoring

In [282]:
# in a case wher we would like to filter using 1 or more coditions

## filtering with multiple conditions
condition1 = df2['Stage'] == 'Group stage'
condition2 = df2['Year'] == 1930
condition3 = df2['Year'] == 2018

df2[condition1 & (condition2 | condition3)] # where & means and while | means or

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category,Score Category2,Score_Category3
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False,5,High Scoring,High Scoring,High Scoring
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False,3,High Scoring,High Scoring,High Scoring
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False,3,High Scoring,High Scoring,High Scoring
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False,4,High Scoring,High Scoring,High Scoring
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,880,2018,2018-06-27,Group stage,Switzerland,2,2,Costa Rica,NaN,False,4,High Scoring,High Scoring,High Scoring
880,881,2018,2018-06-28,Group stage,Japan,0,1,Poland,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
881,882,2018,2018-06-28,Group stage,Senegal,0,1,Colombia,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
882,883,2018,2018-06-28,Group stage,Panama,1,2,Tunisia,NaN,False,3,High Scoring,High Scoring,High Scoring
883,884,2018,2018-06-28,Group stage,England,0,1,Belgium,NaN,False,1,Low Scoring,Low Scoring,Low Scoring

In [283]:
# Create a new dataset that holds only matches from 2010 and above.

condition = df2[df2['Year'] >= 2010]


df2[condition1]

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category,Score Category2,Score_Category3
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False,5,High Scoring,High Scoring,High Scoring
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False,3,High Scoring,High Scoring,High Scoring
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False,3,High Scoring,High Scoring,High Scoring
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False,4,High Scoring,High Scoring,High Scoring
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,880,2018,2018-06-27,Group stage,Switzerland,2,2,Costa Rica,NaN,False,4,High Scoring,High Scoring,High Scoring
880,881,2018,2018-06-28,Group stage,Japan,0,1,Poland,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
881,882,2018,2018-06-28,Group stage,Senegal,0,1,Colombia,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
882,883,2018,2018-06-28,Group stage,Panama,1,2,Tunisia,NaN,False,3,High Scoring,High Scoring,High Scoring
883,884,2018,2018-06-28,Group stage,England,0,1,Belgium,NaN,False,1,Low Scoring,Low Scoring,Low Scoring

## Generate Insights

In [284]:
#1. which team played the most fifa world cup matches

df2['Home Team'].value_counts()

Home Team
Brazil       79
Germany      79
Argentina    55
Italy        53
France       36
             ..
Norway        1
Iraq          1
China         1
Jamaica       1
Panama        1
Name: count, Length: 77, dtype: int64

In [285]:
df2['Away Team']

0       Mexico
1      Belgium
2       Brazil
3         Peru
4       France
        ...
895    Croatia
896    Belgium
897    England
898    England
899    Croatia
Name: Away Team, Length: 900, dtype: object

In [286]:
# we concatenate (combine) the home and away teams and do a value counts

pd.concat([ df['home_team'],df['away_team'] ]).value_counts()

Brazil       109
Germany      109
Italy         83
Argentina     81
England       69
            ...
China          3
Cuba           3
Jamaica        3
Kuwait         3
Indonesia      1
Name: count, Length: 81, dtype: int64

#### based on the above result Brazil and Germany played the most games in the world cup

In [287]:
# highest scoring tournaments
# Find the top 5 highest scoring tournament years? Which countries hosted the Tournament in these years.

yearly_goals = df2.groupby('Year')['Total Goals'].sum().sort_values(ascending=False)

yearly_goals

Year
2014    171
1998    171
2018    169
2002    161
2006    147
1982    146
2010    145
1994    141
1954    140
1986    132
1958    126
1990    115
1978    102
1974     97
1970     95
1966     89
1962     89
1950     88
1938     84
1934     70
1930     70
Name: Total Goals, dtype: int64

In [288]:
#slice for only top 5 
top5_years = yearly_goals[:5]
top5_years

Year
2014    171
1998    171
2018    169
2002    161
2006    147
Name: Total Goals, dtype: int64

In [289]:
## which countries hosted the world cup in these years

condition1 = df2['Year'].isin(top5_years.index)
condition2 = df2['Host Team'] == True

df2[condition1 & condition2][['Year', 'Home Team', 'Host Team']]

     Year    Home Team  Host Team
522  1998       France       True
537  1998       France       True
552  1998       France       True
566  1998       France       True
572  1998       France       True
577  1998       France       True
579  1998       France       True
592  2002        Japan       True
593  2002  South Korea       True
608  2002        Japan       True
609  2002  South Korea       True
624  2002        Japan       True
626  2002  South Korea       True
634  2002        Japan       True
635  2002  South Korea       True
638  2002  South Korea       True
640  2002  South Korea       True
642  2002  South Korea       True
644  2006      Germany       True
660  2006      Germany       True
676  2006      Germany       True
692  2006      Germany       True
700  2006      Germany       True
704  2006      Germany       True
706  2006      Germany       True
772  2014       Brazil       True
787  2014       Brazil       True
806  2014       Brazil       True
820  2014       Brazil       True
829  2014       Brazil       True
832  2014       Brazil       True
834  2014       Brazil       True
836  2018       Russia       True
852  2018       Russia       True
868  2018       Russia       True
886  2018       Russia       True
895  2018       Russia       True

In [290]:
## checking total goals by stage
df2.groupby('Stage')['Total Goals'].sum().sort_values(ascending=False)

Stage
Group stage           1408
Round of 16            275
First group stage      223
Quarter-finals         186
Semi-finals            127
Second group stage      94
Final                   74
Third place             73
First round             57
Final round             31
Name: Total Goals, dtype: int64

In [291]:
#3. How many goals has each team scored in the FIFA World Cup? Which team has scored 

# approach is to get all the goals scored by each country as home team; 
# get all goals scored by each country as away team;
# concatenate (combine) the two arrays from step 1 and 2
# then get the total goals for each country

In [292]:
# get total goals as home team and as away team for each country
home_goals_df = df2.groupby('Home Team')['Home Goals'].sum().reset_index()
away_goals_df = df2.groupby('Away Team')['Away Goals'].sum().reset_index()

In [293]:
home_goals_df

               Home Team  Home Goals
0                Algeria           5
1                 Angola           0
2              Argentina         110
3              Australia           7
4                Austria          24
..                   ...         ...
72  United Arab Emirates           0
73         United States          19
74               Uruguay          65
75                 Wales           2
76            Yugoslavia          42

[77 rows x 2 columns]

In [294]:
away_goals_df

               Away Team  Away Goals
0                Algeria           8
1                 Angola           1
2              Argentina          27
3              Australia           6
4                Austria          19
..                   ...         ...
76  United Arab Emirates           2
77         United States          18
78               Uruguay          22
79                 Wales           2
80            Yugoslavia          18

[81 rows x 2 columns]

In [295]:
# combine the two arrays/dataframes
total_goals_df = pd.concat([home_goals_df.rename(columns={'Home Team': 'Team', 'Home Goals': 'Goals'}),
                            away_goals_df.rename(columns={'Away Team': 'Team', 'Away Goals': 'Goals'})],
                           ignore_index=True)

# group by country to get total goal by each country
total_goals_by_team = total_goals_df.groupby('Team')['Goals'].sum().sort_values(ascending=False)

In [296]:
total_goals_by_team

Team
Brazil                 229
Germany                226
Argentina              137
Italy                  128
France                 120
                      ...
Canada                   0
Trinidad and Tobago      0
China                    0
DR Congo                 0
Indonesia                0
Name: Goals, Length: 81, dtype: int64

In [297]:
#4. Which team has hosted the most number of FIFA world cup Tournaments
# approach is to filter the dataframe for only rows where host_team is true
# remove duplicates (host team and year)
# count number of times hosted for each country

In [298]:
# Filter the DataFrame to include only rows where the team is the host
hosting_teams = df2.loc[df2['Host Team'], ['Home Team', 'Year']]
hosting_teams

    Home Team  Year
8     Uruguay  1930
13    Uruguay  1930
16    Uruguay  1930
17    Uruguay  1930
24      Italy  1934
..        ...   ...
836    Russia  2018
852    Russia  2018
868    Russia  2018
886    Russia  2018
895    Russia  2018

[118 rows x 2 columns]

In [299]:
# drop duplicates
hosting_teams = hosting_teams.drop_duplicates()
hosting_teams

         Home Team  Year
8          Uruguay  1930
24           Italy  1934
37          France  1938
53          Brazil  1950
74         Uruguay  1950
79     Switzerland  1954
101         Sweden  1958
139          Chile  1962
168        England  1966
200         Mexico  1970
233        Germany  1974
273      Argentina  1978
316          Spain  1982
367         Mexico  1986
415          Italy  1990
466  United States  1994
522         France  1998
592          Japan  2002
593    South Korea  2002
644        Germany  2006
708   South Africa  2010
772         Brazil  2014
836         Russia  2018

In [300]:
# Count the occurrences of each team
hosting_teams.groupby('Home Team').count().sort_values(by='Year', ascending=False)

               Year
Home Team
Mexico            2
Germany           2
Brazil            2
Italy             2
Uruguay           2
France            2
England           1
Japan             1
Chile             1
Russia            1
South Africa      1
South Korea       1
Spain             1
Sweden            1
Switzerland       1
United States     1
Argentina         1

In [301]:
#5. Goals per game ratio for each team

## approach
#1. get the total goals scored by each team (this is already done in previous question)
#2. get the total games played by each team (get away games and home games and add for each team)
#3. calculate the ratio

In [302]:
# get total games as home team and as away team for each country
home_games = df2['Home Team'].value_counts()
away_games = df2['Away Team'].value_counts()

# add the two series
total_games = home_games.add(away_games, fill_value=0)  
## fill_value is used to handle any case of missing key ie country in home_games but not in away games

In [303]:
total_goals_by_team

Team
Brazil                 229
Germany                226
Argentina              137
Italy                  128
France                 120
                      ...
Canada                   0
Trinidad and Tobago      0
China                    0
DR Congo                 0
Indonesia                0
Name: Goals, Length: 81, dtype: int64

In [304]:
total_games

Algeria                 13.0
Angola                   3.0
Argentina               81.0
Australia               16.0
Austria                 29.0
                        ...
United Arab Emirates     3.0
United States           33.0
Uruguay                 56.0
Wales                    5.0
Yugoslavia              37.0
Name: count, Length: 81, dtype: float64

In [305]:
#calculate the goal per game ratio
goals_per_game_ratio = total_goals_by_team/total_games
goals_per_game_ratio = goals_per_game_ratio.sort_values(ascending=False)
goals_per_game_ratio.round(2)   #round is to round up or down decimal places

Hungary                2.72
Brazil                 2.10
Germany                2.07
Turkey                 2.00
France                 1.82
                       ...
Indonesia              0.00
Trinidad and Tobago    0.00
China                  0.00
Canada                 0.00
DR Congo               0.00
Length: 81, dtype: float64

In [306]:
## which tournament stage has the most goals

#approach
#1. group by stage and aggregate the total_goals

In [307]:
stage_goals = df2.groupby('Stage')['Total Goals'].sum()
stage_goals.sort_values(ascending=False)

Stage
Group stage           1408
Round of 16            275
First group stage      223
Quarter-finals         186
Semi-finals            127
Second group stage      94
Final                   74
Third place             73
First round             57
Final round             31
Name: Total Goals, dtype: int64

In [308]:
## what is the goal per game ratio for each tournament stage

#approach
#1. find the total goals for each stage (already done above)
#2. find the total games for each stage
#3. find the ratio

In [309]:
# total games for each stage
stage_games = df2['Stage'].value_counts()
stage_games

Stage
Group stage           528
Round of 16            89
First group stage      84
Quarter-finals         66
Semi-finals            36
Second group stage     36
Final                  20
Third place            19
First round            16
Final round             6
Name: count, dtype: int64

In [310]:
goals_per_stage_ratio = stage_goals/stage_games
goals_per_stage_ratio = goals_per_stage_ratio.sort_values(ascending=False)
goals_per_stage_ratio.round(2)

Stage
Final round           5.17
Third place           3.84
Final                 3.70
First round           3.56
Semi-finals           3.53
Round of 16           3.09
Quarter-finals        2.82
Group stage           2.67
First group stage     2.65
Second group stage    2.61
dtype: float64

In [311]:
#7. Which team has played the most Final
#approach
#1. filter the dataset for stage == final
#do value counts on the home and away team
# add the two series

In [312]:
# filter for final games
condition = df2['Stage'].isin(['Final round', 'Final'])
final_games = df2[condition]

In [313]:
final_games

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category,Score Category2,Score_Category3
17,18,1930,1930-07-30,Final,Uruguay,4,2,Argentina,NaN,True,6,High Scoring,High Scoring,High Scoring
34,35,1934,1934-06-10,Final,Italy,2,1,Czechoslovakia,Extra time,True,3,High Scoring,High Scoring,High Scoring
52,53,1938,1938-06-19,Final,Italy,4,2,Hungary,NaN,False,6,High Scoring,High Scoring,High Scoring
69,70,1950,1950-07-09,Final round,Uruguay,2,2,Spain,NaN,False,4,High Scoring,High Scoring,High Scoring
70,71,1950,1950-07-09,Final round,Brazil,7,1,Sweden,NaN,True,8,High Scoring,High Scoring,High Scoring
71,72,1950,1950-07-13,Final round,Brazil,6,1,Spain,NaN,True,7,High Scoring,High Scoring,High Scoring
72,73,1950,1950-07-13,Final round,Uruguay,3,2,Sweden,NaN,False,5,High Scoring,High Scoring,High Scoring
73,74,1950,1950-07-16,Final round,Sweden,3,1,Spain,NaN,False,4,High Scoring,High Scoring,High Scoring
74,75,1950,1950-07-16,Final round,Uruguay,2,1,Brazil,NaN,True,3,High Scoring,High Scoring,High Scoring
100,101,1954,1954-07-04,Final,Germany,3,2,Hungary,NaN,False,5,High Scoring,High Scoring,High Scoring
135,136,1958,1958-06-29,Final,Sweden,2,5,Brazil,NaN,True,7,High Scoring,High Scoring,High Scoring
167,168,1962,1962-06-17,Final,Brazil,3,1,Czechoslovakia,NaN,False,4,High Scoring,High Scoring,High Scoring
199,200,1966,1966-07-30,Final,England,4,2,Germany,Extra time,True,6,High Scoring,High Scoring,High Scoring
231,232,1970,1970-06-21,Final,Brazil,4,1,Italy,NaN,False,5,High Scoring,High Scoring,High Scoring
269,270,1974,1974-07-07,Final,Germany,2,1,Netherlands,NaN,True,3,High Scoring,High Scoring,High Scoring
307,308,1978,1978-06-25,Final,Argentina,3,1,Netherlands,Extra time,True,4,High Scoring,High Scoring,High Scoring
359,360,1982,1982-07-11,Final,Italy,3,1,Germany,NaN,False,4,High Scoring,High Scoring,High Scoring
411,412,1986,1986-06-29,Final,Argentina,3,2,Germany,NaN,False,5,High Scoring,High Scoring,High Scoring
463,464,1990,1990-07-08,Final,Germany,1,0,Argentina,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
515,516,1994,1994-07-17,Final,Brazil,0,0,Italy,Brazil win on penalties (3 - 2),False,0,Low Scoring,Low Scoring,Low Scoring
579,580,1998,1998-07-12,Final,France,3,0,Brazil,NaN,True,3,High Scoring,High Scoring,High Scoring
643,644,2002,2002-06-30,Final,Germany,0,2,Brazil,NaN,False,2,Low Scoring,Low Scoring,Low Scoring
707,708,2006,2006-07-09,Final,Italy,1,1,France,Italy win on penalties (5 - 3),False,2,Low Scoring,Low Scoring,Low Scoring
771,772,2010,2010-07-11,Final,Netherlands,0,1,Spain,Extra time,False,1,Low Scoring,Low Scoring,Low Scoring
835,836,2014,2014-07-13,Final,Germany,1,0,Argentina,Extra time,False,1,Low Scoring,Low Scoring,Low Scoring
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False,6,High Scoring,High Scoring,High Scoring

In [314]:
# count teams in the final
final_home = final_games['Home Team'].value_counts()
final_away = final_games['Away Team'].value_counts()

final_count = final_home.add(final_away, fill_value=0)
final_count.sort_values(ascending=False)

Brazil            9.0
Germany           8.0
Italy             6.0
Argentina         5.0
Spain             4.0
Sweden            4.0
Uruguay           4.0
France            3.0
Netherlands       3.0
Czechoslovakia    2.0
Hungary           2.0
Croatia           1.0
England           1.0
Name: count, dtype: float64

In [315]:
## what percentage of games went to Extra time in the knockout stage in 2010

#approach
#1. filter the dataframe for stage != group stage and year = 2010
#2. count the total numer of games
#3. filter further for win condition != normal time
#4. count the total number of games
#5. calculate the ratio

In [316]:
condition1 = df2['Stage'].isin(['Group stage','First group stage', 'Second group stage'])
condition2 = df2['Year'] == 2010

df_2010_knockout = df2[~condition1 & condition2]    ## the tilda sign (~) takes the opposite of the condtion
df_2010_knockout

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category,Score Category2,Score_Category3
756,757,2010,2010-06-26,Round of 16,Uruguay,2,1,South Korea,NaN,False,3,High Scoring,High Scoring,High Scoring
757,758,2010,2010-06-26,Round of 16,United States,1,2,Ghana,Extra time,False,3,High Scoring,High Scoring,High Scoring
758,759,2010,2010-06-27,Round of 16,Germany,4,1,England,NaN,False,5,High Scoring,High Scoring,High Scoring
759,760,2010,2010-06-27,Round of 16,Argentina,3,1,Mexico,NaN,False,4,High Scoring,High Scoring,High Scoring
760,761,2010,2010-06-28,Round of 16,Netherlands,2,1,Slovakia,NaN,False,3,High Scoring,High Scoring,High Scoring
761,762,2010,2010-06-28,Round of 16,Brazil,3,0,Chile,NaN,False,3,High Scoring,High Scoring,High Scoring
762,763,2010,2010-06-29,Round of 16,Paraguay,0,0,Japan,Paraguay win on penalties (5 - 3),False,0,Low Scoring,Low Scoring,Low Scoring
763,764,2010,2010-06-29,Round of 16,Spain,1,0,Portugal,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
764,765,2010,2010-07-02,Quarter-finals,Netherlands,2,1,Brazil,NaN,False,3,High Scoring,High Scoring,High Scoring
765,766,2010,2010-07-02,Quarter-finals,Uruguay,1,1,Ghana,Uruguay win on penalties (4 - 2),False,2,Low Scoring,Low Scoring,Low Scoring
766,767,2010,2010-07-03,Quarter-finals,Argentina,0,4,Germany,NaN,False,4,High Scoring,High Scoring,High Scoring
767,768,2010,2010-07-03,Quarter-finals,Paraguay,0,1,Spain,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
768,769,2010,2010-07-06,Semi-finals,Uruguay,2,3,Netherlands,NaN,False,5,High Scoring,High Scoring,High Scoring
769,770,2010,2010-07-07,Semi-finals,Germany,0,1,Spain,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
770,771,2010,2010-07-10,Third place,Uruguay,2,3,Germany,NaN,False,5,High Scoring,High Scoring,High Scoring
771,772,2010,2010-07-11,Final,Netherlands,0,1,Spain,Extra time,False,1,Low Scoring,Low Scoring,Low Scoring

In [317]:
#get the count of games
total_count = len(df_2010_knockout)

total_count

16

In [318]:
#filter further for only games that went to extra time
condition = df_2010_knockout['Win Conditions'] != 'NaN'
df_2010_knockout_ET = df_2010_knockout[condition]
df_2010_knockout_ET

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Total Goals,Score Category,Score Category2,Score_Category3
756,757,2010,2010-06-26,Round of 16,Uruguay,2,1,South Korea,NaN,False,3,High Scoring,High Scoring,High Scoring
757,758,2010,2010-06-26,Round of 16,United States,1,2,Ghana,Extra time,False,3,High Scoring,High Scoring,High Scoring
758,759,2010,2010-06-27,Round of 16,Germany,4,1,England,NaN,False,5,High Scoring,High Scoring,High Scoring
759,760,2010,2010-06-27,Round of 16,Argentina,3,1,Mexico,NaN,False,4,High Scoring,High Scoring,High Scoring
760,761,2010,2010-06-28,Round of 16,Netherlands,2,1,Slovakia,NaN,False,3,High Scoring,High Scoring,High Scoring
761,762,2010,2010-06-28,Round of 16,Brazil,3,0,Chile,NaN,False,3,High Scoring,High Scoring,High Scoring
762,763,2010,2010-06-29,Round of 16,Paraguay,0,0,Japan,Paraguay win on penalties (5 - 3),False,0,Low Scoring,Low Scoring,Low Scoring
763,764,2010,2010-06-29,Round of 16,Spain,1,0,Portugal,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
764,765,2010,2010-07-02,Quarter-finals,Netherlands,2,1,Brazil,NaN,False,3,High Scoring,High Scoring,High Scoring
765,766,2010,2010-07-02,Quarter-finals,Uruguay,1,1,Ghana,Uruguay win on penalties (4 - 2),False,2,Low Scoring,Low Scoring,Low Scoring
766,767,2010,2010-07-03,Quarter-finals,Argentina,0,4,Germany,NaN,False,4,High Scoring,High Scoring,High Scoring
767,768,2010,2010-07-03,Quarter-finals,Paraguay,0,1,Spain,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
768,769,2010,2010-07-06,Semi-finals,Uruguay,2,3,Netherlands,NaN,False,5,High Scoring,High Scoring,High Scoring
769,770,2010,2010-07-07,Semi-finals,Germany,0,1,Spain,NaN,False,1,Low Scoring,Low Scoring,Low Scoring
770,771,2010,2010-07-10,Third place,Uruguay,2,3,Germany,NaN,False,5,High Scoring,High Scoring,High Scoring
771,772,2010,2010-07-11,Final,Netherlands,0,1,Spain,Extra time,False,1,Low Scoring,Low Scoring,Low Scoring

In [319]:
#get the count of games
total_count_ET = len(df_2010_knockout_ET)

# get the ratio
total_count_ET / total_count

1.0